.main-div-card {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 4rem;

  }
  .zz{
    font-size: 20px;
font-weight: 700;
text-align: center;
/* margin-top: 0.3rem; */
background-color: blanchedalmond;
padding: 5px 0px;
padding-bottom: 10px;
border-radius: 5px;
position: fixed;
width: 78%;
margin-top: -4rem;
/* margin-bottom: 2rem; */
  }
  .one-div-card {
    width: 340px;
    height: 150px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 2rem;
    padding-top: 1.5rem;
    border-radius: 5px;
  }
  
  .one-div-card h2 {
    font-weight: 500;
  }
  
  .one-div-card h4 {
    font-size: 30px;
    font-weight: bold;
  }
  
  @media (max-width: 768px) {
    .one-div-card {
      width: 100%;
    }
    .zz{
      width: 95%;
    }
  }
  